@helper TextBoxPureStyled(string name, string label, string value = "", string type = "text")
{
    <div class="pure-control-group">
        <label for="@name">@label</label>
        <input type="@type" name="@name" placeholder="@label" value="@value"/>
    </div>
}

@helper ConfirmButtonPureStyled(string buttonName, string notifyMessage)
{
    <div class="pure-controls">
        <button type="submit" class="pure-button pure-button-primary">@buttonName</button><br/>
        <label>@(notifyMessage)</label>
    </div>
}

@helper SocialWebElement(string header, DateTime datetime, string text)
{
    <td style="width:auto;">
        <b>@header</b>
        <b>@datetime</b><br/>
        <p>@text</p>
    </td>
}