@using System.Data.Entity
@using AssetManagerServer.Models
@using AssetManagerServer.Utils
@model dynamic

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<body>
<div id="screenCenter">
    <form method="post" action="" class="pure-form pure-form-aligned">
        @{
            var brokers = (ViewBag.Brokers as DbSet<Broker>)?.ToList();

            if (brokers == null)
            {
                throw new NullReferenceException(Constants.Exceptions.NullListGot);
            }

            var patternOperation = ViewBag.OperationId == -1
                ? null : (ViewBag.Operations as DbSet<Operation>)?.ToList().FirstOrDefault(operation => operation.Id == ViewBag.OperationId);
        }
        <fieldset>
            <input type="hidden" name="OperationId" value="@(ViewBag.OperationId)"/>
            @Helpers.TextBoxPureStyled("AssetName", "Название актива", @patternOperation?.AssetName)
            @Helpers.TextBoxPureStyled("AssetTicker", "Тикер актива", @patternOperation?.AssetTicker)
            @Helpers.TextBoxPureStyled("AssetType", "Тип актива", @patternOperation?.AssetType)
            @Helpers.TextBoxPureStyled("Datetime", "Дата сделки", type: "date", value:DateTime.Now.ToString("yyyy-MM-dd"))
            @Helpers.TextBoxPureStyled("Price", "Цена сделки", type: "number")
            @Helpers.TextBoxPureStyled("BrokerName", "Брокер", @brokers.FirstOrDefault(broker => broker.Id == patternOperation?.BrokerId)?.Name)
            @Helpers.TextBoxPureStyled("Count", "Кол-во", "1", "number")
            @Helpers.ConfirmButtonPureStyled("Купить", @ViewBag.NotifyMessage)
        </fieldset>
    </form>
</div>
</body>
</html>