@using AssetManagerServer.Models
@model dynamic

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Удаление</title>
</head>
<body>
<div>
    <h3>Invest Manager Inc.</h3>
    <form method="post" action="">
        @{
            var brokers = new List<Broker>();
            foreach (var broker in ViewBag.Brokers)
            {
                brokers.Add(new Broker(broker as Broker));
            }

            Operation patternOperation;
            if (ViewBag.OperationId != -1)
            {
                var operations = new List<Operation>();
                foreach (var o in ViewBag.Operations)
                {
                    operations.Add(new Operation(o as Operation));
                }
                patternOperation = operations.FirstOrDefault(operation => operation.Id == ViewBag.OperationId);
            }
            else
            {
                patternOperation = null;
            }
        }
        <input type="hidden" name="OperationId" value="@(ViewBag.OperationId)"/>
        <input type="hidden" name="AssetName" value="@(patternOperation?.AssetName)"/>
        <input type="hidden" name="AssetTicker" value="@(patternOperation?.AssetTicker)"/>
        <input type="hidden" name="AssetType" value="@(patternOperation?.AssetType)"/>
        <input type="hidden" name="BrokerName" value="@(brokers.FirstOrDefault(broker => broker.Id == patternOperation?.BrokerId)?.Name)"/>
        <b>Актив @(patternOperation?.AssetName)</b><br/><br/>
        Дата сделки: <input type="text" name="Datetime"/><br/><br/>
        Цена сделки: <input type="text" name="Price"/><br/><br/>
        Кол-во: <input type="text" name="Count"/><br/><br/>
        <input type="submit" value="Продать"/>
    </form>
</div>
</body>
</html>