@using System.Data.Entity
@using AssetManagerServer.Models
@using AssetManagerServer.Utils
@model dynamic

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<body>
<div id="screenCenter">
    <form method="post" action="" class="pure-form pure-form-aligned">
        @{
            var brokers = (ViewBag.Brokers as DbSet<Broker>)?.ToList();
            
            if (brokers == null)
            {
                throw new NullReferenceException(Constants.Exceptions.NullListGot);
            }

            var patternOperation = ViewBag.OperationId == -1
                ? null : (ViewBag.Operations as DbSet<Operation>)?.ToList().FirstOrDefault(operation => operation.Id == ViewBag.OperationId);
        }
        <fieldset>
            <input type="hidden" name="OperationId" value="@(ViewBag.OperationId)"/>
            <input type="hidden" name="AssetName" value="@(patternOperation?.AssetName)"/>
            <input type="hidden" name="AssetTicker" value="@(patternOperation?.AssetTicker)"/>
            <input type="hidden" name="AssetType" value="@(patternOperation?.AssetType)"/>
            <input type="hidden" name="BrokerName" value="@(brokers.FirstOrDefault(broker => broker.Id == patternOperation?.BrokerId)?.Name)"/>
            <b>Актив @(patternOperation?.AssetName)</b><br/><br/>
            @Helpers.TextBoxPureStyled("Datetime", "Дата сделки", type:"date", value:DateTime.Now.ToString("yyyy-MM-dd"))
            @Helpers.TextBoxPureStyled("Price", "Цена сделки", type:"number")
            @Helpers.TextBoxPureStyled("Count", "Кол-во", "1", "number")
            @Helpers.ConfirmButtonPureStyled("Продать", @ViewBag.NotifyMessage)
        </fieldset>
    </form>
</div>
</body>
</html>