@using AssetManagerServer.Models
@model dynamic

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <link rel="stylesheet"
              href="https://unpkg.com/purecss@2.0.6/build/pure-min.css"
              integrity="sha384-Uu6IeWbM+gzNVXJcM9XV3SohHtmWE+3VGi496jvgX1jyvDTXfdK+rfZc8C1Aehk5"
              crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Удаление</title>
</head>
<body>
<div>
    <h3>Invest Manager Inc.</h3>
    <form method="post" action="" class="pure-form pure-form-aligned">
        @{
            var brokers = new List<Broker>();
            foreach (var broker in ViewBag.Brokers)
            {
                brokers.Add(new Broker(broker as Broker));
            }

            Operation patternOperation;
            if (ViewBag.OperationId != -1)
            {
                var operations = new List<Operation>();
                foreach (var o in ViewBag.Operations)
                {
                    operations.Add(new Operation(o as Operation));
                }
                patternOperation = operations.FirstOrDefault(operation => operation.Id == ViewBag.OperationId);
            }
            else
            {
                patternOperation = null;
            }
        }
        <fieldset>
            <input type="hidden" name="OperationId" value="@(ViewBag.OperationId)"/>
            <input type="hidden" name="AssetName" value="@(patternOperation?.AssetName)"/>
            <input type="hidden" name="AssetTicker" value="@(patternOperation?.AssetTicker)"/>
            <input type="hidden" name="AssetType" value="@(patternOperation?.AssetType)"/>
            <input type="hidden" name="BrokerName" value="@(brokers.FirstOrDefault(broker => broker.Id == patternOperation?.BrokerId)?.Name)"/>
            <b>Актив @(patternOperation?.AssetName)</b><br/><br/>
            @Helpers.TextBoxPureStyled("Datetime", "Дата сделки")
            @Helpers.TextBoxPureStyled("Price", "Цена сделки")
            @Helpers.TextBoxPureStyled("Count", "Кол-во")
            @Helpers.ConfirmButtonPureStyled("Добавить операции продажи", @ViewBag.NotifyMessage)
        </fieldset>
    </form>
</div>
</body>
</html>