@using AssetManagerServer.Models
@model dynamic

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Все операции</title>
</head>
<body>
<div>
    <table>
        <tr>
            <td>
                <p>Актив</p></td>
            <td>
                <p>Тикер актива</p></td>
            <td>
                <p>Тип актива</p></td>
            <td>
                <p>Дата сделки</p></td>
            <td>
                <p>Покупка/Продажа</p></td>
            <td>
                <p>Брокер</p></td>
            <td>
                <p>Цена сделки</p></td>
            <td>
                <p>Привлекательность покупки</p></td>
            <td>
                <p>Привлекательность продажи</p></td>
            <td></td>
        </tr>
        @{
            var operations = new List<Operation>();
            foreach (var o in ViewBag.Operations)
            {
                operations.Add(new Operation(o as Operation));
            }

            var brokers = new List<Broker>();
            foreach (var broker in ViewBag.Brokers)
            {
                brokers.Add(new Broker(broker as Broker));
            }

            var assetAnalytics = new List<AssetAnalytic>();
            foreach (var analytic in ViewBag.AssetAnalytics)
            {
                assetAnalytics.Add(new AssetAnalytic(analytic as AssetAnalytic));
            }

            var curUserId = int.Parse(Session["userId"].ToString());
            var operationsCurrentUser = operations.Where(o => o.UserId == curUserId);
        }
        @foreach (var operation in operationsCurrentUser)
        {
            <tr>
                <td>
                    <p>@operation.AssetName</p></td>
                <td>
                    <p>@operation.AssetTicker</p></td>
                <td>
                    <p>@operation.AssetType</p></td>
                <td>
                    <p>@operation.Datetime.ToString("dd.MM.yyyy")</p></td>
                <td>
                    <p>@(operation.Type == 1 ? "Покупка" : "Продажа")</p></td>
                <td>
                    <p>@brokers.First(broker => broker.Id == operation.BrokerId).Name</p></td>
                <td>
                    <p>@operation.Price</p></td>
                @{
                    var assetAnalytic = assetAnalytics.FirstOrDefault(analytic => analytic.Id == operation.AssetAnalyticId);
                    <td>
                        <p>@(assetAnalytic == null ? "Неизвестно" : assetAnalytic.BuyRate.ToString())</p></td>
                    <td>
                        <p>@(assetAnalytic == null ? "Неизвестно" : assetAnalytic.SellRate.ToString())</p></td>
                }
            </tr>
        }
    </table>
    <a href="/Home/Operations">Операции</a>
    <a href="/Home/Posts">Посты</a><br/>
    <a href="/Home/News">Новости</a>
    <a href="/Home/Analytics">Аналитика</a>
</div>
</body>
</html>