@using System.Data.Entity
@using AssetManagerServer.Models
@using AssetManagerServer.Utils
@model dynamic

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<body>
<div>
    <table class="pure-table pure-table-bordered" id="screenCenter">
        <tr>
            <th>Актив</th>
            <th>Тикер актива</th>
            <th>Тип актива</th>
            <th>Дата сделки</th>
            <th>Покупка/Продажа</th>
            <th>Брокер</th>
            <th>Цена сделки</th>
            <th>Привлекательность покупки</th>
            <th>Привлекательность продажи</th>
            <th></th>
            <th></th>
        </tr>
        @{
            var operations = (ViewBag.Operations as DbSet<Operation>)?.ToList();
            var brokers = (ViewBag.Brokers as DbSet<Broker>)?.ToList();
            var assetAnalytics = (ViewBag.AssetAnalytics as DbSet<AssetAnalytic>)?.ToList();

            if (operations == null || brokers == null || assetAnalytics == null)
            {
                throw new NullReferenceException(Constants.Exceptions.NullListGot);
            }

            var curUserId = int.Parse(Session["userId"].ToString());
            var operationsCurrentUser = operations.Where(o => o.UserId == curUserId);
            foreach (var operation in operationsCurrentUser)
            {
                var assetAnalytic = assetAnalytics.FirstOrDefault(analytic => analytic.Id == operation.AssetAnalyticId);
                <tr>
                    <td>@operation.AssetName</td>
                    <td>@operation.AssetTicker</td>
                    <td>@operation.AssetType</td>
                    <td>@operation.Datetime.ToString("dd.MM.yyyy")</td>
                    <td>@(operation.Type == 1 ? "Покупка" : "Продажа")</td>
                    <td>@brokers.First(broker => broker.Id == operation.BrokerId).Name</td>
                    <td>@operation.Price</td>
                    <td>@(assetAnalytic == null ? "Неизвестно" : assetAnalytic.BuyRate.ToString())</td>
                    <td>@(assetAnalytic == null ? "Неизвестно" : assetAnalytic.SellRate.ToString())</td>
                    <td><a href="/Home/CopyOperation?operationId=@(operation.Id)">Копировать</a></td>
                    <td><a href="/Home/DeleteOperation?operationId=@(operation.Id)">Удалить</a></td>
                </tr>
            }
        }
    </table>
</div>
</body>
</html>