@using System.Data.Entity
@using AssetManagerServer.Models
@using AssetManagerServer.Utils
@model dynamic

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<body>
@{
    var sort = ViewBag.Sort;
    var asc = ViewBag.Asc;

    var operations = (ViewBag.Operations as DbSet<Operation>)?.ToList();
    var brokers = (ViewBag.Brokers as DbSet<Broker>)?.ToList();
    var assetAnalytics = (ViewBag.AssetAnalytics as DbSet<AssetAnalytic>)?.ToList();

    if (operations == null || brokers == null || assetAnalytics == null)
    {
        throw new NullReferenceException("При конвертации один из списков данных оказался NULL");
    }

    var portfolio = ConvertingSortingUtils.ConvertSortPortfolio(
        brokers, operations, assetAnalytics, sort, asc, int.Parse(Session["userId"].ToString()));
}
<div>
    <table class="pure-table pure-table-bordered" id="screenCenter">
        <tr>
            <th><a href="/Home/Profile?sort=0&asc=@((!asc).ToString())">Актив</a></th>
            <th><a href="/Home/Profile?sort=1&asc=@((!asc).ToString())">Тикер актива</a></th>
            <th><a href="/Home/Profile?sort=2&asc=@((!asc).ToString())">Тип актива</a></th>
            <th><a href="/Home/Profile?sort=3&asc=@((!asc).ToString())">Брокер</a></th>
            <th><a href="/Home/Profile?sort=4&asc=@((!asc).ToString())">Кол-во активов</a></th>
            <th><a href="/Home/Profile?sort=5&asc=@((!asc).ToString())">Привлекательность покупки</a></th>
            <th><a href="/Home/Profile?sort=6&asc=@((!asc).ToString())">Привлекательность продажи</a></th>
            <th></th>
            <th></th>
        </tr>
        @foreach (var element in portfolio)
        {
            <tr>
                <td>@element.AssetName</td>
                <td>@element.AssetTicker</td>
                <td>@element.AssetType</td>
                <td>@element.BrokerName</td>
                <td>@element.Count</td>
                <td>@element.BuyRate</td>
                <td>@element.SellRate.ToString()</td>
                <td><a href="/Home/AddAsset?operationId=@element.Id">Купить</a></td>
                <td><a href="/Home/DeleteAsset?operationId=@element.Id">Продать</a></td>
            </tr>
        }
    </table>
</div>
</body>
</html>