@using AssetManagerServer.Models
@model dynamic

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Профиль</title>
</head>
<body>
<div>
    <table>
        <tr>
            <td>
                <p>Актив</p></td>
            <td>
                <p>Тикер актива</p></td>
            <td>
                <p>Тип актива</p></td>
            <td>
                <p>Брокер</p></td>
            <td>
                <p>Кол-во активов</p></td>
            <td>
                <p>Привлекательность покупки</p></td>
            <td>
                <p>Привлекательность продажи</p></td>
            <td></td>
        </tr>
        @{
            var operations = new List<Operation>();
            foreach (var o in ViewBag.Operations)
            {
                operations.Add(new Operation(o as Operation));
            }

            var brokers = new List<Broker>();
            foreach (var broker in ViewBag.Brokers)
            {
                brokers.Add(new Broker(broker as Broker));
            }

            var assetAnalytics = new List<AssetAnalytic>();
            foreach (var analytic in ViewBag.AssetAnalytics)
            {
                assetAnalytics.Add(new AssetAnalytic(analytic as AssetAnalytic));
            }

            var curUserId = int.Parse(Session["userId"].ToString());
            var operationsCurrentUser = operations.Where(o => o.UserId == curUserId);
        }
        @foreach (var operationGroup in operationsCurrentUser.GroupBy(operation => operation.AssetName))
        {
            var assetCount = operationGroup.Sum(operation => operation.Type);
            <tr>
                <td>
                    <p>@(operationGroup.FirstOrDefault()?.AssetName)</p></td>
                <td>
                    <p>@(operationGroup.FirstOrDefault()?.AssetTicker)</p></td>
                <td>
                    <p>@(operationGroup.FirstOrDefault()?.AssetType)</p></td>
                <td>
                    <p>@(brokers.FirstOrDefault(broker => broker.Id == operationGroup.FirstOrDefault()?.BrokerId)?.Name)</p></td>
                <td><p>@assetCount</p></td>
                @{
                    var assetAnalytic = assetAnalytics.FirstOrDefault(analytic => analytic.Id == operationGroup.First().AssetAnalyticId);
                    <td>
                        <p>@(assetAnalytic == null ? "Неизвестно" : assetAnalytic.BuyRate.ToString())</p></td>
                    <td>
                        <p>@(assetAnalytic == null ? "Неизвестно" : assetAnalytic.SellRate.ToString())</p></td>
                    <td>
                        <a href="/Home/AddAsset?operationId=@(operationGroup.FirstOrDefault()?.Id)">Купить</a></td>
                    <td>
                        <a href="/Home/DeleteAsset?operationId=@(operationGroup.FirstOrDefault()?.Id)">Продать</a></td>
                }
            </tr>
        }
    </table>
    <a href="/Home/Operations">Операции</a>
    <a href="/Home/Posts">Посты</a><br/>
    <a href="/Home/News">Новости</a>
    <a href="/Home/Analytics">Аналитика</a><br/>
    <a href="/Home/AddAsset">Добавить актив</a>
</div>
</body>
</html>