@using System.Data.Entity
@using AssetManagerServer.Models
@model dynamic

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<body>
<div>
    <table class="pure-table pure-table-bordered" id="screenCenter">
        <tr>
            <th>Актив</th>
            <th>Тикер актива</th>
            <th>Тип актива</th>
            <th>Брокер</th>
            <th>Кол-во активов</th>
            <th>Привлекательность покупки</th>
            <th>Привлекательность продажи</th>
            <th></th>
            <th></th>
        </tr>
        @{
            var operations = (ViewBag.Operations as DbSet<Operation>)?.ToList();
            var brokers = (ViewBag.Brokers as DbSet<Broker>)?.ToList();
            var assetAnalytics = (ViewBag.AssetAnalytics as DbSet<AssetAnalytic>)?.ToList();

            if (operations == null || brokers == null || assetAnalytics == null)
            {
                throw new NullReferenceException("При конвертации один из списков данных оказался NULL");
            }
            
            var curUserId = int.Parse(Session["userId"].ToString());
            var operationsCurrentUser = operations.Where(o => o.UserId == curUserId);
            var operationGroups = operationsCurrentUser.GroupBy(operation => 
                (operation.AssetName, operation.AssetTicker, operation.AssetType));

            foreach (var operationGroup in operationGroups)
            {
                var assetCount = operationGroup.Sum(operation => operation.Type);
                var assetAnalytic = assetAnalytics.FirstOrDefault(analytic => analytic.Id == operationGroup.First().AssetAnalyticId);
                <tr>
                    <td>@(operationGroup.FirstOrDefault()?.AssetName)</td>
                    <td>@(operationGroup.FirstOrDefault()?.AssetTicker)</td>
                    <td>@(operationGroup.FirstOrDefault()?.AssetType)</td>
                    <td>@(brokers.FirstOrDefault(broker => broker.Id == operationGroup.FirstOrDefault()?.BrokerId)?.Name)</td>
                    <td>@assetCount</td>
                    <td>@(assetAnalytic == null ? "Неизвестно" : assetAnalytic.BuyRate.ToString())</td>
                    <td>@(assetAnalytic == null ? "Неизвестно" : assetAnalytic.SellRate.ToString())</td>
                    <td><a href="/Home/AddAsset?operationId=@(operationGroup.FirstOrDefault()?.Id)">Купить</a></td>
                    <td><a href="/Home/DeleteAsset?operationId=@(operationGroup.FirstOrDefault()?.Id)">Продать</a></td>
                </tr>
            }
        }
    </table>
</div>
</body>
</html>