@model dynamic

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<body>
<div id="screenCenter">
    <form method="post" action="" class="pure-form pure-form-aligned">
        <fieldset>
            @Helpers.TextBoxPureStyled("Name", "Логин")
            @Helpers.TextBoxPureStyled("BrokerName", "Название брокера")
            @Helpers.TextBoxPureStyled("Password", "Пароль", type:"password")
            @Helpers.TextBoxPureStyled("PasswordAgain", "Повторите пароль", type:"password")
            @Helpers.ConfirmButtonPureStyled("Зарегистрироваться", @ViewBag.NotifyMessage)
        </fieldset>
    </form>
</div>
</body>
</html>